<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}domain.com{% endblock head_title %}</title>
    {% include 'snippest/css.html' %}
    {% load static %}

    <script src="{% static 'sorttable.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'master.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
      <ul class="navbar-nav">
         <a class="navbar-brand" href="/">Home</a>
          <a class="nav-link" href="/search_lawyers">Search Attorneys</a>
          <a class="nav-link" href="/cases_types">All Cases Types</a>
      </ul>
    </nav>
    <br>
    <div class='container-fluid'>
    {% block content %}

    {% endblock content %}
    </div>

{% include 'snippest/js.html' %}
</body>
</html>